<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Authentication Error</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

    <div class="header">
        <a href="https://www.pads.rwth-aachen.de//cms/~pnbx/PADS/lidx/1/" class="logo">
            <img src="https://www.pads.rwth-aachen.de/global/show_picture.asp?id=aaaaaaaaaayynmh" alt="Logo of Chair for Process and Data Science" title="Logo of Chair for Process and Data Science">
        </a>
      <div class="header-right">
          <a href="/">Home</a>
          <a href="/login">Add / Change Celonis Credentials</a>
          <a href="/kpis">KPIs</a>
          <a class="active" href="/about">About</a>
      </div>
    </div>
    <div class="content">
        <span style="white-space: pre-line">
            The Code for this project is hosted in an open GitLab Repo <a href="https://git.rwth-aachen.de/hassan-a-w/resource-based-conformance-checking-in-celonis">here</a>.
            For Dockerizing the project and deploying the service in a container, please read the <a href="https://git.rwth-aachen.de/hassan-a-w/resource-based-conformance-checking-in-celonis/-/blob/main/README.md">README</a> of the project.
        </span>
    </div>
    </body>
</html>