<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Please in put the quantile of highrework</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    
  </head>
  <body>
    <div class="header">
        <a href="https://www.pads.rwth-aachen.de//cms/~pnbx/PADS/lidx/1/" class="logo">
            <img src="https://www.pads.rwth-aachen.de/global/show_picture.asp?id=aaaaaaaaaayynmh" alt="Logo of Chair for Process and Data Science" title="Logo of Chair for Process and Data Science">
        </a>
      <div class="header-right">
          <a href="/">Home</a>
          <a href="/login">Add / Change Celonis Credentials</a>
          <a href="/kpis">KPIs</a>
          <a href="/about">About</a>
      </div>
    </div>
    <div class="form-high-rework">
      <h2>High Rework Precision</h2>
      <form name="quantile-form" action="/analysis/statistics/high_rework_precision"  method="POST">
        <p>
         <input type="number" name="percentile" min="0.0000" max="1.0000" step="0.0001" required><i class=""><span></span><span></span></i>
        </p>
        <p>
          <input type="submit" value="High Rework Precision">
        </p>
      </form>
    </div>
    <div class="content">
        <span style="white-space: pre-line">
            {{ msg }}
        </span>
    </div>
  </body>
</html>
