<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resource based conformance checking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
 
<body>
    <div class="header">
        <a href="https://www.pads.rwth-aachen.de//cms/~pnbx/PADS/lidx/1/" class="logo">
            <img src="https://www.pads.rwth-aachen.de/global/show_picture.asp?id=aaaaaaaaaayynmh" alt="Logo of Chair for Process and Data Science" title="Logo of Chair for Process and Data Science">
        </a>
      <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="/login">Add / Change Celonis Credentials</a>
          <a href="/kpis">KPIs</a>
          <a href="/about">About</a>
      </div>
    </div>
    <div class="banner">
        <img src="{{ url_for('static', filename='home.jpg')}}" width="100%" height="auto" >
    </div>
</body>
 
</html>
