<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resource based conformance checking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
 
<body>
    

    <div class="header">
        <a href="https://www.pads.rwth-aachen.de//cms/~pnbx/PADS/lidx/1/" class="logo">
            <img src="https://www.pads.rwth-aachen.de/global/show_picture.asp?id=aaaaaaaaaayynmh" alt="Logo of Chair for Process and Data Science" title="Logo of Chair for Process and Data Science">
        </a>
      <div class="header-right">
          <a href="/">Home</a>
          <a href="/login">Add / Change Celonis Credentials</a>
          <a class="active" href="/kpis">KPIs</a>
          <a href="/about">About</a>
      </div>
    </div>
    <div class="content">
        <ul>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Hard Tasks</h4>
                <p class="bf">
                    <a href="/analysis/performance/hard_tasks">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Least Efficient Resource</h4>
                <p class="bf">
                    <a href="/analysis/performance/least_efficient">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Most Efficient Resource</h4>
                <p class="bf">
                    <a href="/analysis/performance/most_efficient">See results</a>
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Footprint Quality Dimensions</h4>
                <p class="bf">
                    <a href="/analysis/evaluation/footprint_quality_dimensions">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Alignment Quality Dimensions</h4>
                <p class="bf">
                    <a href="/analysis/evaluation/alignment_quality_dimensions">See results</a>
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Petri Net</h4>
                <p class="bf">
                    <a href="/miner/inductive/visualize">See results</a>
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Work Deviation</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/work_deviation">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Batch Types</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/batch_type">See results</a>
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Duplicate Activity</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/duplicate_activity">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Roles Discovery</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/roles_discovery">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Organizational Mining</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/organizational_mining">See results</a>
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Resource Activity Matrix (Abs.)</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/resource_activity_matrix_absolute">See results</a>
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Resource Activity Matrix (%)</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/resource_activity_matrix_percent">See results</a>
                </p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Work Handover</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/work_handover">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Similar Activities</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/similar_activities">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Working Together</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/working_together">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Subcontracting</h4>
                <p class="bf">
                    <a href="/analysis/social_network_analysis/subcontracting">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>Throughput Time</h4>
                <p class="bf">
                    <a href="/analysis/statistics/throughput_time">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>High Rework</h4>
                <p class="bf">
                    <a href="/analysis/statistics/high_rework">See results</a>
                </p>
            </li>
            <li>
               <img src="{{ url_for('static', filename='logo_white.jpg')}}" alt="">
                <h4>High Rework Precision</h4>
                <p class="bf">
                    <a href="/analysis/statistics/high_rework_precision">See results</a>
                </p>
            </li>
        </ul>
 
 
    </div>
 
</body>
 
</html>
