<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Login to Celonis Workspace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    
  </head>
  <body>
    <div class="header">
        <a href="https://www.pads.rwth-aachen.de//cms/~pnbx/PADS/lidx/1/" class="logo">
            <img src="https://www.pads.rwth-aachen.de/global/show_picture.asp?id=aaaaaaaaaayynmh" alt="Logo of Chair for Process and Data Science" title="Logo of Chair for Process and Data Science">
        </a>
      <div class="header-right">
          <a href="/">Home</a>
          <a class="active" href="/login">Add / Change Celonis Credentials</a>
          <a href="/kpis">KPIs</a>
          <a href="/about">About</a>
      </div>
    </div>
    <div id="login-form-wrap">
      <h2>Celonis Access Credentials</h2>
      <form id="login-form" action="/login" method="POST">
        <p>
          <input type="text" id="url" name="url" placeholder="URL to Celonis Workspace" pattern=".*.celonis.cloud" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="api_key" name="api_key" placeholder="API Key" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="data_model" name="data_model" placeholder="Data model name in celonis" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="case_column" name="case_column" placeholder="Case column name (defaults: case:concept:name)"><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="activity_column" name="activity_column" placeholder="Activity column name (defaults: concept:name)"><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="timestamp_column" name="timestamp_column" placeholder="Timestamp column name (defaults: time:timestamp)"><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="resource_column" name="resource_column" placeholder="Resource column name (defaults: org:resource)"><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="submit" id="login" value="Save">
        </p>
      </form>
    </div>
  </body>
</html>
